.recentlyVisitedContainer {
  width: 100%;
  padding: 2rem;
}

.recentlyVisitedContainer h2 {
  text-align: center;
}

.badgeList a:link,
.badgeList a:visited,
.badgeList a:active {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.badgeList {
  text-align: center;
  list-style: none;
  padding-top: 1rem;
}

.badgeList li {
  width: 6rem;
  margin: 0 auto;
  display: inline-block;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scroll::-webkit-scrollbar {
  display: none;
}
.inventoryContainer h2 {
  text-align: center;
}

/* Locked */

.lockedContainer {
}

.lockedContainer h2 {
  text-align: center;
}
