@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dosis:800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #104355;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-size: large;
}

h2 {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-size: large;
}

h3 {
  font-family: "Barlow", sans-serif;
}

p {
  font-family: "Barlow", sans-serif;
}

#logo {
  background: url(../images/logo.svg);
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  position: fixed;
  background-repeat: no-repeat;
  margin: 1rem;
}

.logo {
  background: url(/images/green-logo.svg);
  width: 10vh;
  height: 10vh;
  cursor: pointer;
  background-repeat: no-repeat;
  display: inline-block;
}

.navContainer {
  font-family: "Dosis", sans-serif;
  width: 100%;
  height: 10vh;
  background-color: #104355;
  color: white;
  position: fixed;
  bottom: 0;
  text-align: center;
}

/* Nav Icons */

.iconPlaceholder {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  margin: 0 auto;
  margin-bottom: 0.25rem;
}

#activeIcon {
  background-color: white;
}

#inactiveIcon {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Navigation */

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 0.5rem;
  text-transform: uppercase;
}

nav a:link,
nav a:visited,
nav a:active {
  color: white;
  text-decoration: none;
}

nav #active a:link,
nav #active a:visited,
nav #active a:active {
  color: white;
}

nav #inactive1 a:link,
nav #inactive1 a:visited,
nav #inactive1 a:active {
  color: rgba(0, 0, 0, 0.8);
}

nav #inactive2 a:link,
nav #inactive2 a:visited,
nav #inactive2 a:active {
  color: rgba(0, 0, 0, 0.8);
}

nav #inactive3 a:link,
nav #inactive3 a:visited,
nav #inactive3 a:active {
  color: rgba(0, 0, 0, 0.8);
}

/* Big Section */

.bigSection {
  width: 100%;
  height: 100%;
}

.overlayContainer {
  width: 100%;
  height: 10rem;
  text-align: center;
  position: fixed;
  margin-top: 8vh;
}

.overlayLogo {
  width: 10rem;
  margin: 0 auto;
}

/* Standardized Hero */

.heroImage {
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

video {
  min-width: 100%;
  min-height: 100vh;
}

.siteTitle {
  width: 100%;
  text-align: center;
  padding: 2rem;
}

.pageTitle {
  width: 100%;
  text-align: center;
  padding: 2rem;
}

#locations {
  color: #104355;
  padding: 2rem;
}

.tipContainer {
  text-align: center;
  color: #104355;
  padding: 2rem;
}

.cookiesTipContainer {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.homeCreateAccount {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
}

.homeSignIn {
  width: 100%;
  height: 100%;
  text-align: center;
}

.button {
  background-color: white;
  border: solid 2px;
  border-color: #104355;
  height: 2rem;
  width: 10rem;
  margin: 0 auto;
  font-family: "Barlow", sans-serif;
}

button {
  height: 100%;
  width: 100%;
  color: #104355;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  border: solid 2px;
  border-color: #092e3b;
  color: white;
  background-color: #092e3b;
  transition: 0.25s;
}

/*Get Started Container*/

.getStartedContainer {
  text-align: center;
  color: #104355;
  padding: 2rem;
  background-color: #d9dae8;
}

.stepsList ul {
  list-style: none;
}

.stepsList li {
  margin-top: 1rem;
}

.circleIcon {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  border: solid 0.25rem;
  border-color: #104355;
  margin: 0 auto;
}

.stepsTextContainer {
  width: fit-content;
  height: 100%;
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.newestBadgeContainer {
  height: 100%;
  text-align: center;
  color: #104355;
  padding: 2rem;
}

.newBadges {
  margin-top: 0.5rem;
}

.emptyContainer {
  height: 10vh;
}
